
    <div class='header'>
        <div class='container'>
            <div class='row'>
                <div class='col-lg-6 col-md-6 cl-sm-12 col-xs-12'>
                    <img src='/images/Salaam_swipe_logo_text.png' class='img-responsive'>
                    <div class='motto'>
                        <h2>It's time</h2>
                        <h4>to Change the Way</h4>
                        <h2 >We Meet</h2>
                        <h3>One Another</h3>
                    </div>
                    <a href='https://itunes.apple.com/us/app/salaam-swipe/id1019659192?mt=8&utm_source=Salaam+Swipe&utm_campaign=d3fbc921c9-Launch_8_18_2015&utm_mdium=email&utm_term=0_d84300b336-d3fbc921c9-&mc_cid=d3fbc921c9&mc_eid=[UNIQID]'><img class='btn btn-default img-responsive app-store-img' src='/images/app_store.png'></a>
                </div>
            </div>
        </div>
    </div>
    <!--The App-->
    <div class='theApp' id='app'>
        <div class='container'>
            <div class='row'>
            <div class='col-lg-12 col-md-12'>
                <h1>The App</h1>
            </div>
            </div>
            <div class='row appIntro'>
            <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12'>
                <p><em>We're committed to changing the way Muslims meet. Providing you with the right people based on self-identified levels of religiosity, proximity, and interests, we're no different from traditional matchmaking, except we've taken your aunty out of the equation. <i class="em em-wink"></i></em></p>
            </div>
            <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12 appStoreImg'>
                <a href='https://itunes.apple.com/us/app/salaam-swipe/id1019659192?mt=8&utm_source=Salaam+Swipe&utm_campaign=d3fbc921c9-Launch_8_18_2015&utm_mdium=email&utm_term=0_d84300b336-d3fbc921c9-&mc_cid=d3fbc921c9&mc_eid=[UNIQID]'><img class='btn btn-default img-responsive app-store-img' src='/images/app_store.png'></a>
            </div>
            </div>
            <div class='row testimonials'>
                <div class='col-lg-4 col-md-4 wow fadeIn'>
                    <img src='/images/toronto-star-logo.png' class='img-responsive torontoStar'/>
                    <blockquote><p><em>"...[I]t has other features that will help Muslims navigate the messy world of online dating, allowing people to indicate their denomination, level of religious devotion and whether they’re looking for someone who is more liberal or conservative."<footer>Toronto Star</footer></em></p></blockquote>
                </div>
                <div class='col-lg-4 col-md-4 wow fadeIn' data-wow-delay="1s">
                    <img src='/images/IBT.png' class='img-responsive IBT'/>
                    <blockquote><p><em>"In a world where families have traditionally set up introductions between males and females, Salaam Swipe provides a detour, if not an escape, from such societal norms."<footer>International Business Times</footer></em></p></blockquote>
                </div>
                <div class='col-lg-4 col-md-4 wow fadeIn' data-wow-delay='2s'>
                    <img src='/images/al-arabiya.jpeg' class='img-responsive arabiya'/>
                    <blockquote><p><em>"Salaam Swipe allows people to specify whether they are liberal, moderate, or conservative – as well as being Sunni, Shia or “just Muslim” – and filter their potential matches by the same criteria."<footer>Al Arabiya English</footer></em></p></blockquote>
                </div>
            </div>
        </div>
    </div>
    <!--News-->
    <div class='news' id='news'>
        <div class='container'>
            <div class='row'>
            <div class='col-lg-12 col-md-12'>
                <h1>News</h1>
                  <div class='col-lg-12 col-md-12'>
                      <% site.posts.sort('date', -1).limit(1).each(function(post){ %>
                      <h2>
                          <a href="<%=post.permalink%>">
                              <div class='postTitle'>
                                  <%= post.title %>
                              </div>
                          </a>
                      </h2>
                      <p><%-post.excerpt%></p>
                      <% }) %>
                  </div>
                <div class='col-lg-10 col-md-10'>
                  <button class="btn btn-default" href="/news" role="button">Read More</button>
                </div>
            </div>
            </div>
        </div>
    </div>
    <!--Fine Print-->
    <div class='finePrint' id='finePrint'>
        <div class='container'>
            <div class='row'>
            <div class='col-lg-12 col-md-12'>
                <h1>Fine Print</h1>
            </div>
            </div>
            <div class='row'>
            <div class='col-lg-12 col-md-12'>
                <p><em>We want to keep you and your information safe. Learn more about our Privacy Policy and our Terms of Use.</em></p>
            </div>
            </div>
            <div class='row'>
            <div class='col-lg-3 col-md-3'>
            </div>
            <div class='col-lg-3 col-md-3 wow slideInLeft'>
                <a class="btn btn-default" href="privacy.html">
                    <i class="fa fa-user-secret" aria-hidden="true"></i>
                    <p><b>Privacy Policy</b></p>
                </a>
            </div>
            <div class='col-lg-3 col-md-3 wow slideInRight'>
                <a class="btn btn-default" href="terms.html">
                    <i class="fa fa-file-text" aria-hidden="true"></i>
                    <p><b>Terms of Use</b></p>
                </a>
            </div>
            <div class='col-lg-3 col-md-3'>
            </div>
            </div>
            <div class='row'>
            <div class='col-lg-12 col-md-12'>
                <p>Got questions? <a href='mailto:info@salaamswipe.com'>Contact us</a> directly.</p>
            </div>
            </div>
        </div>
    </div>
    <!--Contact-->
    <div class='contact' id='contact'>
        <div class='container'>
            <div class='row'>
            <div class='col-lg-12 col-md-12'>
                <h1>Contact Us</h1>
                <p>Have feedback? Looking for an interview? Fill out the form below and we'll be in touch ASAP.</p>
            </div>
            </div>
            <form enctype='text/plain' method='POST' action='mailto:info@salaamswipe.com'>
                <div class='form-group'>
                    <label for='name'>Name</label>
                    <input type='text' id='formName' class='form-control' placeholder='Name'>
                </div>
                <div class='form-group'>
                    <label for='email'>Email</label>
                    <input type='email' id='formEmail' class='form-control' placeholder='Email'>
                </div>
                <div class='form-group'>
                    <label for='comment'>Comments</label>
                    <textarea type='textarea' name='comment' id='formComment' class='form-control' value='Comments'></textarea>
                </div>
                <input type="submit" name='submit' value='Send' id='formSubmit' class="btn btn-default"></input>
            </form>
        </div>
    </div>
