<div class="newsListPage">
    <div class="container">
        <div class="row">
            <div class='col-lg-12 col-md-12 pageTitle'>
                <h1>News</h1>
            </div>
            <div class='col-lg-12 col-md-12'>
                <ul>
                  <% site.posts.sort('date',-1).forEach(function(post) { %>
                    <li>
                        <h2>
                          <div class='postTitle'>
                              <a href="<%= post.permalink %>">
                                  <%= post.title %>
                              </a>
                          </div>
                        </h2>
                      <p><%=post.date%></p>
                      <p><%-post.excerpt%></p>
                    </li>
                <% }) %>
                </ul>
            </div>
        </div>
    </div>
</div>
